<%= form_for(@blog) do |f| %>
  <% if @blog.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@blog.errors.count, "error") %> prohibited this blog from being saved:</h2>

      <ul>
      <% @blog.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div>
    <%=f.label :title%>
    <%=f.text_field :title %>
  </div>
  <div >
    <%=f.label :body %>
    <%= f.text_area :body, class: "redactor", :rows => 40, :cols => 120  %>
  </div>
  <div>
    <%=f.label :tags %>
    <%=f.text_area :tag_list %>
  </div>
  <div class="field">
    <%= f.label :hidden %><br>
    <%= f.check_box :hidden %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
