<p id="notice"><%= notice %></p>

<div>
  <%= @project.title %>
</div>
<div>
  <%= @project.description.html_safe %>
</div>
<div>
  <%= image_tag @project.photo.url(:thumb)%>
</div>

<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>
